.div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.filter {
border: none;
font-size: 0.8rem;
padding: 5px;
margin: 5px;
border-radius: 5px;
cursor: pointer;
background-color: #fe4d32;
color: white;
}

.active {
    color: #ffffff;
}