.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin: 5px;
    background-color:rgba(0, 0, 0, 0);
    font-size: 1rem
}


.btn:hover, .btn:active, .btn:focus {
    color: #fff;
    background-color: #fe4d32;
  }